@using Radyalabs.Core.Helper

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | AIDA Master</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@SiteHelper.GetBaseUrl()Assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="@SiteHelper.GetBaseUrl()Assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="@SiteHelper.GetBaseUrl()Assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@SiteHelper.GetBaseUrl()Assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="@SiteHelper.GetBaseUrl()Assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    @RenderSection("PageStyle", required: false)
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="@SiteHelper.GetBaseUrl()Assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="@SiteHelper.GetBaseUrl()Assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="@SiteHelper.GetBaseUrl()Assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="@SiteHelper.GetBaseUrl()Assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link href="@SiteHelper.GetBaseUrl()Assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <style type="text/css">
        #loading-indicator {
            position: fixed;
            z-index: 999;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-fixed">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a class="logo-text font-blue" href="@SiteHelper.GetBaseUrl()">AIDA Master</a>
                <div class="menu-toggler sidebar-toggler">
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="@SiteHelper.GetBaseUrl()Assets/admin/layout/img/avatar.png" />
                            <span class="username username-hide-on-mobile">
                                @Html.Raw(ViewBag.UserAuth == null ? "" : ViewBag.UserAuth.Fullname)
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="@Url.Action("Logout", "Account")">
                                    <i class="icon-key"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @Html.Partial("_SidebarAdmin")
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <img src="~/Assets/custom/img/loading.gif" id="loading-indicator" style="display:none" />
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2019 &copy; APL
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/respond.min.js"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @RenderSection("PageScript", required: false)
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="@SiteHelper.GetBaseUrl()Assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="@SiteHelper.GetBaseUrl()Assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    @*<script src="@SiteHelper.GetBaseUrl()Assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
        <script src="@SiteHelper.GetBaseUrl()Assets/admin/layout/scripts/demo.js" type="text/javascript"></script>*@
    <script>
        var baseUrl = '@SiteHelper.GetBaseUrl()';

        Array.prototype.remove = function () {
            var what, a = arguments, L = a.length, ax;
            while (L && this.length) {
                what = a[--L];
                while ((ax = this.indexOf(what)) !== -1) {
                    this.splice(ax, 1);
                }
            }
            return this;
        };
    </script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            //QuickSidebar.init(); // init quick sidebar
            //Demo.init(); // init demo features
        });
    </script>
    @RenderSection("CustomScript", required: false)
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>