@using Radyalabs.Core.Helper
@model AIDA.Master.Service.Models.ImportMasterListViewModel
@{
    ViewBag.Title = "Upload Master List Tagih";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.ActiveMenu = "mastertagih|mastertagih-list";

    int numError = Model.ListCustomer.Count(x=>!string.IsNullOrEmpty(x.Remarks));
}

@section PageStyle{
    <link rel="stylesheet" type="text/css" href="@SiteHelper.GetBaseUrl()Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
}

@section PageScript{
    <script type="text/javascript" src="@SiteHelper.GetBaseUrl()Assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="@SiteHelper.GetBaseUrl()Assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="@SiteHelper.GetBaseUrl()Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
}

@section CustomScript{
    <script type="text/javascript" src="@SiteHelper.GetBaseUrl()Assets/custom/js/_master-list-sales-preview.js"></script>
}

<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Preview Upload Master List Tagih
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@SiteHelper.GetBaseUrl()"><i class="fa fa-home"></i></a>
            <a href="@Url.Action("Index", "MasterListTagih")">Master List Tagih</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Import", "MasterListTagih")">Upload</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">Preview</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <a id="btn-submit-preview" class="btn btn-fit-height btn-sm blue" @(numError > 0 ? "disabled" : "")>
            <i class="fa fa-save"></i> Submit
        </a>
    </div>
</div>
<!-- END PAGE HEADER-->
@Html.Partial("_FlashMessage")
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Valid Mulai : @Model.FormattedValidDate
        </div>
    </div>
    <div class="portlet-body">
        <table class="datatable table table-striped table-bordered table-hover table-nowrap">
            <thead>
                <tr>
                    <th class="text-right">
                        #
                    </th>
                    <th style="text-align: center;">
                        Rayon<br />Code
                    </th>
                    <th style="text-align: center;">
                        NIK<br />Salesman
                    </th>
                    <th>
                        Nama<br />Salesman
                    </th>
                    <th style="text-align: center;">
                        Kode<br />Customer
                    </th>
                    <th>
                        Nama<br />Customer
                    </th>
                    <th>
                        Keterangan
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListCustomer != null)
                {
                    int i = 1;
                    foreach (var item in Model.ListCustomer)
                    {
                        <tr class="@(! string.IsNullOrEmpty(item.Remarks) ? "bg-red-intense" : "")">
                            <td align="right">@i</td>
                            <td align="center">@item.RayonCode</td>
                            <td align="center">@item.SLMNik</td>
                            <td align="left">@item.SLMFullname</td>
                            <td align="center">@item.CustomerCode</td>
                            <td align="left">@item.CustomerName</td>
                            <td align="left">@item.Remarks</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div id="modal-confirmation" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <form id="form-confirmation" class="modal-dialog modal-sm" method="post" action="@Url.Action("Import", "MasterListTagih")">
        @Html.AntiForgeryToken()
        @*<input type="hidden" name="Id" value="@Model.Id" />*@
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Apakah yakin upload data ini?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">tidak</button>
                <button type="submit" class="btn blue">ya</button>
            </div>
        </div>
    </form>
</div>

