@using Radyalabs.Core.Helper
@{
    ViewBag.Title = "SPV Fakturis";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.ActiveMenu = "spvfakturis";
}

@section PageStyle{
    <link rel="stylesheet" type="text/css" href="@SiteHelper.GetBaseUrl()Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="@SiteHelper.GetBaseUrl()Assets/global/plugins/datatables/extensions/Buttons/css/buttons.dataTables.min.css" />
}

@section PageScript{
    <script type="text/javascript" src="@SiteHelper.GetBaseUrl()Assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="@SiteHelper.GetBaseUrl()Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="@SiteHelper.GetBaseUrl()Assets/global/plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="@SiteHelper.GetBaseUrl()Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
}

@section CustomScript{
    <script type="text/javascript" src="@SiteHelper.GetBaseUrl()Assets/custom/js/_spvfakturis-index.js"></script>
}

<!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Daftar SPV Fakturis
    </h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@SiteHelper.GetBaseUrl()"><i class="fa fa-home"></i></a>
            <a href="@Url.Action("Index", "SPVFakturis")">SPV Fakturis</a>
        </li>
    </ul>
    <div class="page-toolbar">
        @if (ViewBag.IsEditable)
        {
            <a id="btn-add" href="@Url.Action("Add", "SPVFakturis")" class="btn btn-fit-height btn-sm blue-stripe" data-container="body" data-placement="left" data-original-title="" title="">
                <i class="fa fa-plus" aria-hidden="true"></i> Tambah
            </a>
        }
    </div>
</div>
<!-- END PAGE HEADER-->
@Html.Partial("_FlashMessage")
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    @Html.AntiForgeryToken()
    <div id="tbl-wrapper" class="col-md-12">
        <table class="datatable table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="text-align: right">#</th>
                    <th style="text-align: left">Action</th>
                    <th style="text-align: center">NIK</th>
                    <th>Nama</th>
                    <th style="text-align: center">SPV Fakturis</th>
                    <th style="text-align: center">Valid From</th>
                    <th style="text-align: center">Valid To</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- END PAGE CONTENT-->